.place__paragraph-container {
    width: 47%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.66;
}

@media screen and (max-width: 500px) {
    .place__paragraph-container {
      width: 95%;
      align-self: center;
    }
  }