.footer__link {
  text-decoration: none;
  color: #FFF;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.12;
}

.footer__link:hover {
  opacity: 0.8;
  transition: opacity 0.7s ease 0.1s;
}

@media screen and (max-width: 720px) {
  .footer__link {
    font-size: 24px;
    line-height: 1;
  }
}