.lead__caption {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 1.4;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    margin: 8px 0 0 0;
  }

@media screen and (max-width: 800px) {
    .lead__caption {
      margin-left: 3%;
    }
}